$size: 30px;

.container {
  display: flex;
}

.geneContainer {
  width: $size;
  height: $size;
  border-radius: $size / 2;
  background: #eee;
  margin-right: 5px;
}

.geneInput {
  color: black;
  width: $size;
  height: $size;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  margin: 0;
  padding: 0;

  &.hasValue {
    color: white;
  }
}
