@import 'styles/shared';

.tab {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

.tabs {
  border-bottom: 1px solid $border-color;
}

:global {
  .ant-tabs-nav {
    margin-bottom: 0 !important;
  }
}
