$border: 1px solid #f0f0f0;

.container {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 40px 1fr 0.7fr 30px;
  grid-template-areas:
    'header header'
    'tabs tabs'
    'left right'
    'leftBottom right'
    'footer footer';
}

.left,
.footer,
.header,
.leftBottom,
.right {
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;
}

.tabs {
  grid-area: tabs;
}

.left {
  grid-area: left;
  border-right: $border;
  border-bottom: $border;
}

.leftBottom {
  grid-area: leftBottom;
  border-right: $border;
  border-bottom: $border;
}

.right {
  grid-area: right;
  border-bottom: $border;
}

.footer {
  grid-area: footer;
}
