@import 'styles/shared';

$border: 1px solid #f0f0f0;

.container {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 60px 40px 1fr 0.7fr 30px;
  grid-template-areas:
    'header header'
    'tabs tabs'
    'left right'
    'leftBottom right'
    'footer footer';

  @include respond-to('small') {
    display: block;
  }
}

.left,
.footer,
.header,
.leftBottom,
.right {
  display: flex;
  flex-direction: column;
}

.header {
  grid-area: header;

  @include respond-to('small') {
    height: 60px;
  }
}

.tabs {
  grid-area: tabs;

  @include respond-to('small') {
    height: 40px;
  }
}

.left {
  grid-area: left;
  border-right: $border;
  border-bottom: $border;

  @include respond-to('small') {
    height: 100%;
  }
}

.leftBottom {
  grid-area: leftBottom;
  border-right: $border;
  border-bottom: $border;
  @include respond-to('small') {
    height: 300px;
  }
}

.right {
  grid-area: right;
  border-bottom: $border;
  @include respond-to('small') {
    height: 100%;
  }
}

.footer {
  grid-area: footer;
}
