.container {
}

.addNewContainer {
  padding-bottom: 20px;
  padding-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;

  .column {
    padding-right: 15px;
  }

  .spacer {
    flex: 1;
  }
}

.searchRow {
  display: flex;

  .selectAllColumn {
  }

  .searchIconContainer {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .genePickerContainer {
  }
}
