.container {
}

.listItem {
  &:hover {
    .amountModifiers {
      display: flex;
    }
  }

  .amountModifiers {
    display: none;

    button:first-child {
      margin-right: 5px;
    }
  }
}

.row {
  display: flex;

  .column {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
}

.resultRow {
  padding-top: 30px;
  border-top: 2px solid #ddd;

  .row {
    padding-bottom: 10px;
  }
}

.times {
  font-size: 16px;
}
