.container {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
}

.spacer {
  flex: 1;
}

.brand {
  font-size: 20px;

  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }

  .beta {
    font-size: 10px;
    color: red;
    position: absolute;
    right: -10px;
    top: 0px;
  }
}
