@import 'styles/shared';

.container {
  display: flex;
}

.gene {
  color: white;
  border-radius: 50%;
  background: $border-color;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
